body{
    background-color: rgb(224, 221, 221);
}
.smallbox{
    background-color: #ffffff;
    text-align: center;
    padding: 35px 15px;
    margin:25px 0px;

}
.cont{
    margin: 20px 0px;
}
i{
    color:blue;
    
}
.box{
    padding:70px 0px
}
a{
    border-bottom: 2px solid rgb(57, 57, 238);
}
